*{
    margin:0;
  }
  body{
    background-color: pink;
  }
  
  .nav-grid{
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: right;
    font-family: "Barlow Semi Condensed";
    padding:0% 1%;
    background-color: darkmagenta;
  }
  .navGrid-inner{
    margin-top:20px;
  }
  #navbar h2{
    text-align:left;
    margin-left:20px;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 30px;
  }
  .navGrid-inner a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin:10px;
    padding:0% 10% 0% 0%;
    font-size: 24px;
  }
  .navGrid-inner a:hover{
    background-color: pink;
    color: magenta;
  }
  
  
  #landing{
    font-family: "Roboto Condensed";
    font-size: 55px;
    padding:6% 2%;
  }
  #landing h4{
    font-size:90px;
    padding:0% 1%;
    margin-bottom: 3%;
    width:65%;
  }
  #landing a{
    background-color: darkmagenta;
    font-size: 25px;
    margin:0% 1%;
    color:white;
    text-decoration: none;
    padding:1%;
    box-shadow: 5px 5px 5px #c9c9c9;
  }
  #landing a:hover{
    color:black;
    background-color: pink;
  }
  
  
  .logo{
    width:100px;
    height:100px;
    margin-top: -15px;
  }

.img-landing{
    max-width: 150%;
    height: auto;
}
  .navGrid-logowrapper{
    display:grid;
    grid-template-columns: 40px 100px;
  }
  #head{
    font-family: 'Fjalla One', serif;
    font-size: 78px;
    color: maroon;
    text-shadow: 4px 4px 4px #aaa;
  }
  #pok{
      background-color: aliceblue;
      
  }
  #tagline{
    font-family: 'Tangerine', serif;
    font-size: 78px;
    color: maroon;
    text-shadow: 4px 4px 4px #aaa;
  }
 
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid2{
    display: grid;
    grid-template-rows: auto auto;
    padding:30% 5%;
  }
  .grid2 button{
    margin:2% 0%;
    padding:2%;
    box-shadow: 5px 5px 5px #c9c9c9;
    background-color: #3ee969;
    font-family: "Roboto Condensed";
    font-size: 15px;
    letter-spacing: 1px;
  }
  .grid2 h4{
    margin:2% 0%;
    padding:2%;
    box-shadow: 5px 5px 5px #c9c9c9;
    background-color: #405253;
    color:white;
    font-family: "Roboto Condensed";
    font-size: 15px;
    letter-spacing: 1px;
    height:20px;
  }
  